[2013-01-04 11:16] CircleCode opened #1 "add *(sep) and +(sep) syntactic sugar"
picked from http://www.gazelle-parser.org/docs/manual.html#_repetition

*   __*(sep)__

    The *(sep) modifier specifies 0 or more occurrences of the previous component, where each occurrence is separated by sep. It is a more straightforward way of writing (component (sep component)*)?. sep can be any valid component (or in unusual cases, expression of components) that can appear on a right-hand-

[2013-05-22 07:58] CircleCode opened #3 "error when first token is unexpected"
when first token is unexpected, https://github.com/hoaproject/Compiler/blob/master/Llk/Parser.php#L216 will fail because `strrpos`'s offset will be greater than `$text`'s length

[2013-05-22 09:04] CircleCode opened #4 "lexer fail for empty tokens"
in `matchesLexem` (https://github.com/hoaproject/Compiler/blob/master/Llk/Lexer.php#L185-L199), if a token allows empty string to match (for example `[a-z]*`), then `strpos` (https://github.com/hoaproject/Compiler/blob/master/Llk/Lexer.php#L191) will report an error because needle is an empty string.

Either Hoa should complain about token allowing empty match (and doc should say it's forbiden),
e

[2013-05-22 09:36] #3 closed, assigned to nobody

[2013-05-22 11:42] #4 closed, assigned to nobody

[2013-06-25 13:43] CircleCode opened #5 "support off-side rule languages"
It seems `Hoa\Compiler` cannot parse [Off-side rule](http://en.wikipedia.org/wiki/Off-side_rule) languages.

Maybe it could be sufficient to have the compiler adding automatically `INDENT` (respectively `UNINDENT`) tokens each time indent increase (respectively decrease) by 1.

The tricky part seems to be the matching between spaces, tab, and indent length…

<bountysource-plugin>

---
Want to back

[2013-06-25 22:38] CircleCode opened #7 "use of non multibyte string functions can lead to erroneous error messages"
while manipulating `$offset` for #6, I came to the following : if you use UTF8 chars with pp, error messages (at least) can be wrong. Consider, for example,

the following pp

[code]

with the following string

[code]

error message will be

[code]

but `p` is effectively at column 11, not 13

Note: I suppose used char

[2013-08-20 20:58] ghost opened #8 "ID overwriting does not work properly in PP"
Take the following grammar:

[code]

[code]

Because we have `( <a> )` and not only `<a>`, we have the `#root` ID and not `#other` as expected.

[2013-08-21 09:03] #8 closed, assigned to nobody

[2013-08-21 12:21] CircleCode opened #9 "allow nesting namespaces"
In some cases, it can be useful to come back to _previous namespace_ (ie: “the NS we were before the current one”). Such a feature could be expressed with 2 syntaxes (for example, one can imagine another one).
The following examples illustrates these 2 syntax on json.pp file (look at `%token  string:_quote` token) :

[code]

where `__PREVIOUS_NS__` is an alias for `__PREVIOUS_1_NS__`, and the gene

[2013-09-10 09:42] #9 closed, assigned to nobody

[2013-09-26 19:32] #7 closed, assigned to nobody

[2013-09-26 22:02] CircleCode opened #12 "misaligned unicode token when printing token sequence"
since https://github.com/hoaproject/Compiler/blob/master/Bin/Pp.php#L238 uses `printf`, unicode strings are not correctly handled. As pointed in http://stackoverflow.com/questions/16003505/php-sprintf-with-foreign-characters printf is not _utf8-aware_, and @geraldcroes suggests in an answer :

[2013-10-04 20:18] CircleCode opened #13 "lexer can match empty value if it changes NS"
`llk.php` disallows lexeme matching an empty value with following code

[code]

but if this lexeme changes the current NS, it can permit a new match in the new NS. So this has to be allowed (maybe only in certain circumstances).

In fact, I have no idea if such a pattern would be useful, but I just found this piece of code _theoretically_ false

[2013-10-29 17:03] #13 closed, assigned to nobody

[2013-10-29 17:05] CircleCode opened #14 "add a dev / debug mode"
writing grammar can be a tricky work.

Of course `pp` and `Hoa\Compiler` ease the job, but a dev / debug mode allowing the developer to understand the grammar in some special cases, and giving verbose traces would be a real plus.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47154652-add-a-dev-debug-mode?utm_campaign=plugin&utm_co

[2013-12-02 09:05] CircleCode opened #15 "detect invalid regex in lexer"
in `Lexer.php`, `preg_match` could return `false` in case of regex error.

the `false` return should be tested and explained at https://github.com/hoaproject/Compiler/blob/master/Llk/Lexer.php#L270

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31797281-detect-invalid-regex-in-lexer?utm_campaign=plugin&utm_content=tracker%2F330168&

[2014-02-23 16:28] flip111 opened #17 "Hoa Compiler and (E)BNF"
Hi, I've some questions about the compiler. Since I'm considering implementing an existing Domain Specific Language (DSL) in PHP. So I would need a compiler for this. But then I noticed that most already defined languages are defined in Backus–Naur Form (BNF) or Extended Backus–Naur Form (EBNF). From here certain questions come to mind:
1. Is PP language mainly intended for greating new DSL rather

[2014-03-13 20:48] flip111 opened #18 "Problems with debugging PP"
Hi i've a problem with some pp syntax, i think the wrong repetition is getting precendence but i don't understand why. See below for relevant info.

notation under test:
[code]

pp
[code]

Trace:
[code]

At:
[code]
Expect:
[code]
But get:
[code]

I think there is a preference for the second `NCName()` here:
[code]
Instead of trying to match another `::NameStartChar::` here:
[code]
Please note that

[2014-03-16 22:54] flip111 opened #19 "Space in token"
Hi,

I would like to match `MATCH` with a space at the end. When using regular expressions a space just remains a space. Can the token be enclosed somehow in quotes?

Thanks for support

[2014-03-17 17:38] #19 closed, assigned to Hywan

[2014-03-24 23:46] guiled opened #20 "rule() containing #nodes"
Here is a grammar I extracted from Hoa\Math

[code]

I changed it into this

[code]

And was hoping it will work as previous grammar did but here are the AST
First grammar

Second grammar

Is it normal that the rule exp2() is handled at all (even if the trace shows that it goes through it) ?
Thank you

[2014-03-25 09:26] #20 closed, assigned to Hywan

[2014-08-24 12:56] Metalaka opened #26 "String are not well formed by the Sampler."
How to reproduce:

Grammar.pp
[code]
Run script:
[code]

Will output some thing like:
[code]
But in JSON there is not `space` after `default:quote_` and `string:string` token.

`space` where added by [Sampler::generateToken()](https://github.com/hoaproject/Compiler/blob/master/Llk/Sampler/Sampler.php#L199) to each token.

I've fix temporary it by a little patch, but I don't know his behaviour with

[2014-08-27 10:58] #12 closed, assigned to Hywan

[2015-03-26 19:19] #1 closed

[2015-03-27 09:38] Hywan commented on #18
ping?

[2015-03-27 09:40] flip111 commented on #18
pong

[2015-03-27 09:41] Hywan commented on #18
No more activity on this issue. Can we close or is it not resolved yet?

[2015-03-27 09:51] flip111 commented on #18
As you can see, you assigned @CircleCode but he did not reply. The open question _is this intended behavior by design?_ can not be answered on my own (because i'm not the designer of this library). So yes it's still open...

[2015-03-27 13:40] Hywan commented on #18
@CircleCode is on the opposite side of the earth (based on its usual location) for a while. I take the lead on this issue and try to answer to the question as soon as possible.

[2015-03-27 16:09] flip111 commented on #18
Ok thank you :)

[2015-08-06 12:48] Hywan opened #42 "PP supports in editors"
Hello :-),

Supported editors:
  * Emacs, https://github.com/stevenremot/hoa-pp-mode,
  * Vim, https://github.com/Hywan/Dotfiles/blob/master/vim/syntax/pp.vim.

Should we add these resources in this library or in [`Hoa\Devtools`](http://central.hoa-project.net/Resource/Library/Devtools) @hoaproject/hoackers?

[2015-08-07 16:58] jubianchi commented on #42
:+1: **in this library** is to me, a library for Hoa developers (or should I say contributors) not users. Those 2 resources are user-oriented.

[2015-08-08 10:24] Hywan commented on #42
Agree. Waiting for the opinion of @CircleCode :-).

[2015-08-11 07:52] vonglasow commented on #42
:+1: Agree with @jubianchi

[2015-08-11 12:00] Hywan commented on #42
Any one for a PR?

[2015-08-19 14:45] Metalaka commented on #26
Fixed by https://github.com/hoaproject/Json/pull/12.

[2015-08-19 14:45] #26 closed

[2015-09-02 06:14] #42 closed

[2015-09-05 12:10] Hywan opened #44 "Fix the README examples"
Both the JSON grammar and the generated data can be updated since recent commits on `Hoa\Compiler` and `Hoa\Json`. It must be updated.

[2015-09-05 12:11] Hywan opened #45 "Add a research papers section in the documentation"
Like in http://hoa-project.net/En/Literature/Hack/Test.html#Research_papers.

[2016-01-12 13:15] lovenunu opened #50 "Dependency to mbstring"
Hi, as the lexer uses [`mb_strlen`](https://github.com/hoaproject/Compiler/blob/master/Llk/Lexer.php#L133),  I think that the composer.json should require `ext-mbstring` or [`symfony/polyfill-mbstring`](https://github.com/symfony/polyfill-mbstring), don't you ? :)

[2016-01-12 13:48] Hywan commented on #50
Hello :-),

`hoa/compiler` [requires `hoa/regex`](https://github.com/hoaproject/Compiler/blob/1496646bfa85f88ab50b651857fbf4bbd15dbca1/composer.json#L34) which [requires `hoa/ustring`](https://github.com/hoaproject/Regex/blob/a0e01a81fae0e7a325a5d958a269d611a5252690/composer.json#L28), which [already solve](https://github.com/hoaproject/Ustring/blob/9f76b9aae5901b4f476ef854e29ccd746d6899d2/Ustring

[2016-01-12 13:48] #50 closed

[2016-01-13 21:17] lovenunu commented on #50
Oops, sorry I didn't go deep enough :sweat_smile: Well now I know `hoa/ustring` :yum:

[2016-01-14 08:07] Hywan commented on #50
;-)

[2016-02-05 15:18] Hywan opened #52 "Introduce pragma to disable UTF-8 in the lexer"
In some grammars, we need the lexer to not be in Unicode mode. For instance, in `Hoa\Json`. So we need to introduce pragma, and the first one would aim to disable Unicode. Something like:
[code]
In some days, we will need to implement the following one too:
[code]
(for an LL(3) compiler)

Maybe the names are not correct. I need your help here!

[2016-02-05 16:25] Jir4 commented on #52
For the `unicode` pragma i'd prefer something like `enable_unicode`

[2016-02-07 16:05] Hywan commented on #52
Thoughts @hoaproject/hoackers?

[2016-02-07 16:23] CircleCode commented on #52
@Jir4 I'd name it according to its default: the purpose is not to enable UTF8, but rather to disable it, so the pragma would be `disable_unicode true`

@Hywan if we introduce such pragma (whatever it is named), compiler need a command to list all the pragma it support (with their explanation) so that grammar authors can use them.

At least, pragma would be used by the lexer or the compiler. Isn't

[2016-02-07 16:27] Hywan commented on #52
@CircleCode I don't lie `disable_unicode` but I don't know why so far…

Yes, having “namespaced” pragma is not a bad idea. We must look what other grammar description languages do.

About your markdown proposal, you're talking about variables. A pragma is a directive that “configure” the compiler behavior. This is not variable. Moreover, if a language need variable, this is just a so bad practise

[2016-02-08 01:28] Jir4 commented on #52
@CircleCode i don't really like double negation names :s

[2016-02-08 08:24] CircleCode commented on #52
This is another debate we don't want to have here ;-)

Ok, got it

Maybe because of the _disable_ part. What about `no_unicode_parsing` (or simpler if namespaced)?

[2016-02-08 08:33] Jir4 commented on #52
Mainly because a `enable = true` is way simpler in a mind than a `disable = false`
In all case, i think we need something to list all pragma.

[2016-02-08 08:48] Hywan commented on #52
@CircleCode @Jir4 Define “something” to list all pragmas, please? A command-line tool? An exhaustive list in the documentation?

So, what about:
[code]
?

[2016-02-08 08:55] CircleCode commented on #52
`%pragma lexer.unicode true|false` is fine for me, clear, simple, minimalistic, efficient

_something_ to list pragmas would be an option or a command of the compiler cli.
Maybe this is just the right time to begin some kind of man pages for the bin commands? I know we can't do true man pages because of windows support, but some kind of extended help right from the command itself?

[2016-02-08 08:58] Hywan commented on #52
@CircleCode We can still introduce a `hoa help` command that will fallback to `man` if exists, else emulate?

[2016-02-08 08:58] Hywan commented on #52
@CircleCode Please, open an issue in `hoa/cli`.

[2016-02-08 09:28] Jir4 commented on #52
:+1: for `lexer.unicode`

[2016-02-08 09:53] jubianchi commented on #52
:+1: for `%pragma lexer.unicode true|false`

[2016-02-08 13:47] Hywan commented on #52
Used in https://github.com/hoaproject/Json/pull/18.

[2016-02-08 13:49] Hywan commented on #52
See https://github.com/hoaproject/Compiler/pull/53.

Thanks for all your answers!

[2016-02-08 13:49] #52 closed

[2016-02-08 13:49] Hywan commented on #52
(especially see https://github.com/Hywan/Compiler/commit/addf18dbd5b9102e157ceb7bae334208ea64d4dc)

[2016-03-11 00:23] jubianchi opened #54 "Introduce an `%import` pragma"
While working on [TML](https://github.com/jubianchi/tml) I needed to write a second grammar for test purpose. This grammar is quite the same as the original language grammar but with some rules overloaded.

I played a bit whit compiler and came up with an `%import` directive. It works quite well in my case and was wondering if you would want such feature in compiler. Here is how it looks like:

[c

[2016-03-11 09:04] Hywan commented on #54
Hello :-),

During my PhD thesis, I mentionned this feature and addressing it is a very challenging task. You don't only **import** rules here, you are **extending** them or even worse: You are also **overriding** them. This is difficult. Hardly difficult. Extending would be difficult, refining would be much more difficult, but overriding… damn. This is too error-prone because: What if you are dep

[2016-03-11 09:05] Hywan commented on #54
So, it would be :-1: for me regarding the amount of work. But, let's the community decides. If this is something the community asks, I could work on it. Don't expect this feature to be availble in a week. Just the formalization could take months.

[2016-03-11 09:09] jubianchi commented on #54
@Hywan fine ;) I already reverted my code in tml.

TBH I'm not aware of the problems but if you can explain them or give me a link to something giving more clue, I would be glad to work on this.

[2016-03-11 09:37] CircleCode commented on #54
I really love the idea, but I understand how hard this could be.
Maybe some mitigation could be some kind of
`%import: path/to/file.pp:%token|#rule`
that would just work like computer-assisted copy paste (are you thinking about _traits_?)

This way, no overriding, no extending, and no huge copy paste, only a big list of imports, and some custom rules.

What do you think about this?

Note: I unders

[2016-03-11 09:40] jubianchi commented on #54
@CircleCode I was also thinking of `%import`ing only tokens or only rules but would propose it in a second time, but I was probably wrong.

A first step could be to support on token imports but we still have to take care of some things: if the imported grammar changes one of its token regex, the importing grammar could break.

[2016-03-11 09:42] CircleCode commented on #54
@jubianchi right, but the break would be easy to detect since once the replacement (aka _) has been done, the grammar should be good on its own

[2016-03-11 14:48] Hywan opened #55 "`compiler:pp -s` and `compiler:pp -v dump` should have colors"
@jubianchi did a good POC with it. It is a great idea. We should do that. Maybe @jubianchi could explain more.

[2016-03-11 15:30] jubianchi commented on #55
let me show an example :

![slides 008](https://cloud.githubusercontent.com/assets/327237/13706634/3185d6ca-e7a6-11e5-9ea0-e415d7f48890.png)

This is a custom colorization I made manually in one of my slides.

What should be done:

* [ ] Choose a color for namespace names
* [ ] Choose a color for token names
* [ ] Choose a color for token values
* [ ] Choose a color for rules
* [ ] Use those color

[2016-03-11 17:03] jubianchi commented on #15
I'm adding the required check and benchmarking it.

Here is the script I use to bench:

[code]

Executing it with `php -n test.php`produces the following results:

### No PCRE check

[code]

### With PCRE check

[code]

This was implemented using `$preg   = @preg_match(...); if (false === $preg) { throw ... }`

[2016-03-14 08:10] stephpy commented on #54
It's really interesting, but I understand @Hywan, it seems hard ...

- We could assume than `%import%` does like an include in PHP, if you override tokens, rules, ... the 2nd occurence override the 1st.
- We could use `%import%` to load in background, then `use xx_token; use yy_token; etc...`, It would be more flexible but harder to implement for client.

[2016-03-14 09:11] 1e1 commented on #54
Sorry for my dummy question.
Before building the AST, a file is like a key-value of "lines"?
Can we rebuild a cached .pp which is a merge of both files.

(I'm always curious about the context leading to write a new grammar).

[2016-03-14 12:36] Hywan commented on #55
Why not using automatic color for the namespace and for tokens?

[2016-03-14 12:38] jubianchi commented on #55
@Hywan what do you mean by "automatic color" ?

[2016-03-14 12:52] Hywan commented on #55
@jubianchi Automatic color selection, in a palette. Each token or namespace without a color has a color attached automatically, and it remains attached. This way, this is easy to track the token by its color instead of its name.

[2016-03-14 12:54] Hywan commented on #55
@jubianchi For instance, regarding your example, `T_NUMBER` will be blue, `T_OP_PLUS` will be orange, `T_VAR` will be red, but `T_OP_EQUAL` will not be orange but pink instead. All token value will have the color associated to its token name. Same for namespace.

[2016-03-14 13:50] jubianchi commented on #55
@Hywan good idea! let me try something when I get some time ;)

[2016-03-14 17:20] 1e1 commented on #55
Moreover, I would like something like `highlight_code` for a beautiful display ;)

[2016-03-14 21:35] jubianchi commented on #55
I experimented with some algorithms to colorize the output and it seems hard to do it automatically:

* we have to generate random color with reasonable distance, or
* we have to hardcode a color palette which is large enough to deal with with huge grammars, but
* we would have to take care of user's terminal background (color cannot be the same on light and dark backgrounds)

If we choose to gene

[2016-03-14 22:03] jubianchi commented on #55
example palette:

<img width="1007" alt="capture d ecran 2016-03-14 a 23 01 59" src="https://cloud.githubusercontent.com/assets/327237/13761437/e5617354-ea38-11e5-9210-b0e7811bc88c.png">

[2016-03-14 23:00] 1e1 commented on #55
Can we specify in an other file, which color to join for each token.
Perhaps a %filename%.pp-lut relative to %filename%.pp

[2016-03-14 23:22] 1e1 commented on #55
Or shall we think about a "check style" tool?
An extra file setup the coding style and the token style (text color, line break, spacing, etc)
Perhaps there is the same thought.

[2016-03-15 07:52] Hywan commented on #15
Maybe we can check tokens once when “instanciating” the lexer. Is it where your placed it?

[2016-03-15 07:55] Hywan commented on #55
@1e1 I don't understand what you're talking about. We are talking about colorizing the output of some `compiler:pp` command, not to colorize a PP grammar.

@jubianchi Let me ask some colleague designers. Having a pre-defined palette sounds good for me. Else we would have to start a `Hoa\Color` library and we don't have time for this right now. Your proposed palette seems excellent. What is the sou

[2016-03-15 07:58] jubianchi commented on #55
@Hywan I randomly generateed 256 colors and manually removed those not fitting in both backgrounds

[2016-03-15 08:13] 1e1 commented on #55
@Hywan
I thought it is to highlight a rule written from a PP file.

[2016-03-15 08:44] Hywan commented on #54
@1e1 I don't understand your comment. A grammar is a set of lexemes and a set of rules. This is not simply “merging” them. A grammar describes a syntax. Merging syntax and still be coherent or detect conflict is not simple. Actually, I don't know if this is even automatically done.

[2016-03-15 08:45] Hywan commented on #55
@jubianchi Good work.

[2016-03-15 08:51] Hywan commented on #55
@ghn points me this https://github.com/mbostock/d3/wiki/Ordinal-Scales#categorical-colors. These palettes have not been designed to work on both light and black backgrounds, but we can maybe find some inspiration there.

[2016-03-15 09:08] jubianchi commented on #55
Example output with the 80 colors palette:

<img width="941" alt="capture d ecran 2016-03-15 a 10 05 50" src="https://cloud.githubusercontent.com/assets/327237/13772658/999de06c-ea95-11e5-89e6-1420bd9627b6.png">

For each new token we shift a color from the palette and use it.

[2016-03-15 09:12] Hywan commented on #55
How do you choose colors in your palette? Are colors already ordered by distance (in which space?)? Do you choose colors by the maximum distance each time?

[2016-03-15 09:14] jubianchi commented on #55
No.

No.

[2016-03-15 09:20] jubianchi commented on #55
And here is an example trace output:

<img width="943" alt="capture d ecran 2016-03-15 a 10 19 39" src="https://cloud.githubusercontent.com/assets/327237/13773036/8b3d31ba-ea97-11e5-8586-94127c4655f7.png">

[2016-03-15 09:22] Hywan commented on #55
Sounds good. Colors are a little bit too “agressive”, thoughts?

[2016-03-15 09:54] jubianchi commented on #55
@Hywan yes the colors are not optimal :/

[2016-03-15 10:06] Hywan commented on #55
But this is an excellent start! I am going to ask for a “““palette flatter”””

[2016-03-15 10:14] Hywan commented on #55
@ghn provides me this other resource: http://kentor.me/posts/generating-pastel-colors-for-css/. @jubianchi, it can help you a lot I guess.

[2016-03-15 10:16] Hywan commented on #55
And so this: https://randomcolor.llllll.li/.

[2016-03-15 11:09] jubianchi commented on #55
@Hywan I searched yesterday for libraries doing good colors randomization and I found https://randomcolor.llllll.li/ was really promising but to do things well, we should port it.

[2016-03-15 12:47] Hywan commented on #55
@jubianchi Isn't it possible to develop a very minimal algorithm?

[2016-05-11 15:45] flip111 commented on #18
Ok after two years i think this issue is resolved. What happens is that even though the parser is DEPTH-FIRST and yes it should match more `(::NameStartChar::)*` in rule `NCName`. What i think happens is that it runs out of tokens this way (which is good) but then it goes a level higher and comes back to rule `SequenceOrDifference` and this rule is `(NCName() (::SequenceOrDifference_a:: NCName() |

[2016-05-11 15:45] #18 closed

[2016-05-11 18:07] Hywan commented on #18
Good to hear!

[2016-08-15 09:22] Hywan commented on #15
ping @CircleCode?

[2016-08-15 12:07] #44 closed

[2016-08-15 12:16] #45 closed

[2016-10-28 07:18] Grummfy opened #65 "doc improvement required"
see http://discourse.hoa-project.net/t/hoa-compiler-feedback-help/205

Like I say, for me the documentation need some improvements :
* Insiste on the importance of the order in the PP syntax (order of the lexem)
* Describe this part http://discourse.hoa-project.net/t/hoa-compiler-feedback-help/205/2 a bit more

Honestly that was the two point that were missing and that require to have help for me.

[2016-11-02 07:56] Hywan commented on #65
Got it!

[2017-04-24 16:58] Savageman opened #68 "Ability to parse a "blob" (sequence of bytes) which length is defined by a previous token"
For example `5 abcde`
would be parsed into
[code]
with the constraint that the length of the 2nd string token "abcde" is equal to the value of the first number token 5.

Here are 3 examples that would need this feature (maybe that using the Compiler is not the right tool for the job, in which case this issue can be closed) :

:one: parsing the response of a IMAP FETCH command
[code]

In this examp

[2017-04-24 17:03] jubianchi commented on #68
I would add such constraint on the visitor side...

Since Hoa/compiler does not allow executable code in grammar (unlike JavaCC for example) you will have to define and check such constraints when traversing your AST.

[2017-04-24 17:09] Grummfy commented on #68
I'm intrested too. Many files provided by bank are based on that kind of stuff.

The purpose here is to have a way to describe that kind of stuff without devlopping a lot of stuff.

[2017-04-24 17:14] Savageman commented on #68
@jubianchi You mean some post-processing (from the Compiler POV) that takes AST as an input and return another "fixed" AST?

[2017-04-24 18:15] Hywan commented on #68
Hello,

Unfortunately, this is not possible with such parsers. You might want to either look for a parser generator (like [nom](https://github.com/Geal/nom/)), or add this constraint on a visitor, but this is not ideal at all, and it covers a few use cases.

[2017-04-24 19:37] Grummfy commented on #68
Hywan, well perhaps it could evolve in something différent or be another lib based on compiler.

[2017-04-24 19:38] jubianchi commented on #68
I mean, a visitor which will validate an AST : it takes an AST as an input, validates it and returns the exact same AST if every constraint is OK.

[2017-04-25 07:01] Hywan commented on #68
@Grummfy We can create a parser generator, and add it to `hoa/compiler`, but it would not be efficient trivially. Parser generators are slow and safe, or fast and unsafe, but rarely both, except in some languages like Rust or Haskell. I have a plan to add one parser of this kind in `hoa/compiler`, but it requires several other libraries…

[2017-05-11 10:00] Savageman commented on #68
Thank you for the answer. :) I'm closing the issue since it's out of scope of this library.

[2017-06-02 08:00] Grummfy opened #69 "doc : improve explanation on namespace"
When I read the following topics http://discourse.hoa-project.net/t/hoa-compiler-keyword-identifier-clash/252 I can understand that namespace permit to avoid collision between namespace but also to isolate each namespace (correct?).

So it could be intresting to add a section in the namespace documentation about that, on the why using namespace and they purpose with a good example ;)

[2017-06-02 08:13] Hywan commented on #69
There is already a section for that, https://hoa-project.net/En/Literature/Hack/Compiler.html#Namespaces.

Thoughts?

[2017-06-02 08:22] Grummfy commented on #69
Indeed, I don't know if it's new or if I don't understand it at first. But honestly for me it was not clear when I read this doc (and I read it several times ...)

[2017-06-02 08:41] Hywan commented on #69
Is it clear now?

[2017-06-02 09:02] Grummfy commented on #69
it seems, I will re-read it and close the issue if it is. Otherwise I will try to suggest something.

[2017-06-14 00:17] KurtAhn opened #70 "Add Location to TreeNode"
There's currently no way of locating an erroneous token within source during semantic analysis.

Refer to: http://discourse.hoa-project.net/t/hoa-compiler-locate-nodes-in-source/256

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46196216-add-location-to-treenode?utm_campaign=plugin&utm_content=tracker%2F330168&utm_medium=issues&utm

[2017-06-14 00:44] KurtAhn commented on #69
I know this was supposed to be an issue on namespace documentation, but since it was related to my forum post, I wanted to make a suggestion for documentation on lexer mechanism. The lexer behaviour is sometimes mysterious if you haven't looked at the source to see this:

`#\G(?|<regex>)#<option> (from line 277 in Lexer.php)`

After that point, you can specify your tokens with the help of an onlin

[2017-06-14 06:59] Hywan commented on #69
The `\G(?|…)` construction should not have any impact on your regular expression definitions. Was it a source of a bug on your side?

[2017-06-14 12:08] KurtAhn commented on #69
I think the problem was with space characters. After reading your post, I tried replicating problems I had (or thought I had), but I wasn't able to. What I noticed instead was this:

[code]

The first `boolean` token works as expected, while the second one doesn't. Maybe I'm just being dumb, but I think the spacing behaviour is a little weird if you don't know exactly how the parser generator work

[2017-07-24 17:25] SerafimArts opened #71 "PHP Warning in Parser class"
## Error message
[code]

Grammar.pp:
[code]

Source code for parsing:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47554675-php-warning-in-parser-class?utm_campaign=plugin&utm_content=tracker%2F330168&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2017-08-08 07:36] #71 closed

[2017-08-22 12:30] SerafimArts opened #74 "%skip token selection"
In my task I need to know information about some tokens that have been marked as "%skip".

For example, here is the code:
[code]

[code]

Output:
[code]

But Im need something like this:
[code]

I can replace the `%skip` with a `%token`. But I will have to make it (`%token`) optional after every active token in the grammar file.

Any ideas how implement this?

<bountysource-plugin>

---
Want to ba

[2017-08-22 12:40] Hywan commented on #74
Hello :-),

Either the token is skipped, and it will not appear in the token sequence, or the token is kept, and then it appears in the token sequence. Having a skip token in the token sequence is “not possible” (actually, it is possible, but this is not how it works).

Everything happens here: https://github.com/hoaproject/Compiler/blob/c86ccfbce9b9cad17cf84ffdf5c505c695d83d7a/Llk/Lexer.php#L205

[2017-08-22 12:50] SerafimArts commented on #74
I did not want to go into details =( OK

Grammar here: https://github.com/SerafimArts/Railgun/blob/master/resources/grammar.pp (so big)

In real life, I can write files like this:
[code]

The GraphQL standard implies that all comments that are before the declaration should be used as a description:
[code]

Each of these comments must fall into the type introspection. But GraphQL admits and such sy

[2017-08-22 13:27] SerafimArts commented on #74
Little did not understand this thesis =\

[2017-08-22 13:35] Hywan commented on #74
Before I forget, cc @Grummfy (https://github.com/Grummfy/PHPGraphQL/). He has the same idea to integrate `hoa/compiler` inside `webonyx/graphql-php`. I am not saying one should replace another, just making a connection here :-).

[2017-08-22 13:40] Grummfy commented on #74
if I remember well I have finally find a way to deal with comments... but unfortunately due to time I can't dig into your code to help you now, so just look at my repo if it can helps ;)

[2017-08-22 13:42] Hywan commented on #74
@SerafimArts OK, I understand your problem. Side note: Really interesting project, congrats! The grammar is a piece of art, I love the coding style.

Naive approach:

  * What you want to **skip** is comments preceded by blanks or something else.
  * What you want to **keep* is comments only preceded by blanks.

It sounds like two different tokens:

  1. `%skip` “newline . blanks* . (something tha

[2017-08-22 13:53] SerafimArts commented on #74
@Hywan Spaces have no meaning. For the first time I cited an example of a PHP code for the reason that it is possible to read Dobblock from Reflection (http://php.net/manual/en/reflectionclass.getdoccomment.php). And its behavior for obtaining documentation information are very similar to those that I have to implement.

If briefly description docblock is the comments that are:
1) Are in front of

[2017-08-22 13:59] Hywan commented on #74
I perfectly undertand your issue. I am trying something.

[2017-08-22 14:18] Hywan commented on #74
This example is working:

[code]

Given the following data:

[code]

We obtain this:

[code]

If a `comment` token is explicitly specified, then we have an `#annotated_line` node in the AST. Else, it fallbacks into the skip token.

There is one caveat though: Comments must start at column 0. I am working on this.

[2017-08-22 14:24] SerafimArts commented on #74
@Hywan In this case, there is an intersection of tokens. I've already tried this.

[2017-08-22 14:26] SerafimArts commented on #74
I updated the circuit, now the tests will pass - you will see an error:
https://github.com/SerafimArts/Railgun/commit/c54671653cc51b37d211a6ab33822c51b77ef91f
https://travis-ci.org/SerafimArts/Railgun/jobs/267208140

[2017-08-22 14:27] Hywan commented on #74
Gotcha!

[code]

I am trying with this data:

[code]

And this grammar:

[code]

(note the special `comment` rule just to group many annotations)

And here is the result:

[code]

[2017-08-22 14:42] #54 closed

[2017-08-22 14:42] #5 closed

[2017-08-22 14:42] Hywan commented on #5
Closing because it's old :-).

[2017-08-22 14:46] SerafimArts commented on #74
I get an error in last ur example: ` Unexpected token "# c2b" (comment) at line 8 and column 1:
# c2b`

grammar:
[code]

data:
[code]

[2017-08-22 14:55] Hywan commented on #74
[code]

[2017-08-22 14:56] SerafimArts commented on #74
Oops :D

[2017-08-27 04:53] SerafimArts commented on #74
I killed five days to solve this problem =\

It seems that this is not possible on clean regulars. If the rules are a little more complicated than in the example, it is very often possible to get a loop and timeout (more than 30 seconds of PHP running).

[2017-08-27 06:12] SerafimArts commented on #74
Such a regex should match any comment that starts on a separate line: `^(?:\h*#[^\n]*)|(?:\n\h*#[^\n]*)+`:
https://regex101.com/r/bppmDa/11/

I have absolutely no idea how to implement this, so that the tests are finally passed. It's easier to abandon the idea of supporting all the functionality of GraphQL =\
![1](https://user-images.githubusercontent.com/2461257/29747581-c8f51506-8b07-11e7-81dd-a

[2017-08-27 23:44] SerafimArts commented on #74
Regex: `(?:(?:\A|\n)\h*#[^\n]*)+\n\h*\b` didnt works too: https://regex101.com/r/ox2BCl/1

[2017-08-28 09:30] Hywan commented on #74
I would not add `Comment` inside `Definition` directly. I would add it where you can have actual annotations. Did you try this?

An alternative is to add `<comment>` everywhere. But everywhere is not in a lot of places actually: Only before a possible newline.

That's strange because the spec of GraphQL says that `# …` is a comment and should be ignored, but at the same time, it says it can serve

[2017-08-28 09:49] SerafimArts commented on #74
I tried - it's incredibly slows down parsing code like this: https://github.com/railt/parser/blob/3df7977f7ba968aa623284cd331dcacef49b1667/tests/.resources/ast-ab-spec-tests/%2Bfull-comments.graphqls

Like PHP, JS+Flow and other languages ;)

PHP:
[code]

JS:
[code]

[2017-08-28 10:55] SerafimArts commented on #74
And this feature of the GraphQL is explained by the fact that the very idea of such a declaration of descriptions of types and fields was implemented already after the release of the first draft of the standard.

It began with Apollo client (https://github.com/apollographql/GitHunt-API/blob/01f91419f16c0eaf93ca74e64f270df8d9195f1b/api/sql/schema.js#L54), implemened here:
https://github.com/graphql

[2017-08-28 11:00] Hywan commented on #74
It is slow if you use the tokens we have defined. If you use a simple token like `%token comment #[^\n]+\n`, it should be fast.

[2017-08-28 11:03] SerafimArts commented on #74
Let's assume. But in any case, such a grammar file will turn out to be unsupported (about 800 code lines currently)

[2017-08-28 11:05] SerafimArts commented on #74
So at the moment the best and simplest option is the usual preprocessing of the source code (for example, converting `#` to `##` in those places where such sections are allowed by the regex `(?:(?:\A|\n)\h*#[^\n]*)+\n\h*\b`)

[2017-09-06 06:59] Hywan commented on #74
Sorry, but I think I don't understand your point of view. Why most parts of the grammar will be unsupported?

---

I don't like this situation. It is what happens when the grammar is too weird unfortunately. In PHP, comments are marked as “skip”, except for docblock comment (`/** … */`), so there is a special kind of comments. Same for Javascript if I remind correctly.

The only alternative I see

[2017-09-06 10:46] SerafimArts commented on #74
Large amount of code is always hard to read. And its increase and littering can lead to problems.

It is already implemented in the JS library, so it is unlikely =\

I can suggest a solution to the problem - this is an opportunity to overload the "skip tokens" in the groups, but as you said - it's huge problem:

[code]

So I think I think it's no more, thank you. =)

[2017-10-24 22:55] SerafimArts opened #75 "Add $node->getOffset() support"
In addition to synax analysis (lex), there is also a semantic analysis of code. And in the case of errors of semantics, it is required to understand exactly where the error occurred. Like:

[code]

The only way to get this information is the TreeNode instance:
[code]

I tried to implement this in the form of Pull Request, but the source code is pretty confusing =\

[2017-10-24 22:57] SerafimArts commented on #75
Hmmm, same with #70 yep?

[2017-10-24 23:48] #75 closed

[2017-10-25 09:37] Hywan commented on #75
Yes, duplicate of #70.

[2017-10-25 20:08] SerafimArts opened #77 "PSR Support"
What do you think about supporting generally accepted standards? e.g.:
1) [PSR-1](http://www.php-fig.org/psr/psr-1/) ?
2) [PSR-2](http://www.php-fig.org/psr/psr-2/) ?
3) [PSR-12](https://github.com/php-fig/fig-standards/blob/master/proposed/extended-coding-style-guide.md) ?

Now the code of Hoa looks ... In Baroque style and reading it is quite problematic %)

[2017-10-27 07:37] Hywan commented on #77
Hoa already uses PSR-2 standards. Code is fixed by [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) by `hoa devtools:cs` (see https://github.com/hoaproject/Devtools/tree/master/Resource/PHPCSFixer for all configurations and extra fixers).

[2017-10-27 09:04] SerafimArts commented on #77
@Hywan Are mutable objects (in particular, the transfer of arguments by reference, [like this](https://github.com/hoaproject/Compiler/blob/master/Llk/Parser.php#L498)) are not side effects?

[2017-10-27 09:24] SerafimArts commented on #77
Besides:

The fields declared in this way violate the PSR

[2017-10-27 09:33] SerafimArts commented on #77
Other than this, there are other code problems which are not associated with PSR: https://scrutinizer-ci.com/g/SerafimArts/Compiler/?branch=master =\

[2017-10-27 11:26] Hywan commented on #77
This algorithm is particularily difficult to implement, and this is an optimisation. I dare you to build the same algorithm with random PSR conventions.

“should not”, this is not a “must not” :-). No violation.

For what I checked, there are full of jokes, stupid code duplication like this:

![screen shot 2017-10-27 at 13 22 38](https://user-images.githubusercontent.com/946104/32101801-f9971302-b

[2017-10-27 11:28] #70 closed

[2017-10-27 11:48] SerafimArts commented on #77
:D

=\

The link leads to the overall statistics of the code, the places that can be improved. Maybe permissions =(

![image](https://user-images.githubusercontent.com/2461257/32102644-ed834cc8-bb25-11e7-82eb-b72b5b3a1650.png)

This is a free service (e.g. you can create the same inspection for hoa) that improves readability and code support. It sometimes buggy, but very often gives very useful ad

[2017-10-27 12:48] Hywan commented on #77
I think Scrutinizer can help having a better quality for sure. However, this issue is related to PSR. I guess we are OK with that. If you feel a boost of energy, you can open on issue on https://github.com/hoaproject/Central related to Scrutinizer. I am sure some @hoaproject/hoackers will take it :-).

[2017-10-27 12:48] #77 closed

[2017-11-01 16:29] SerafimArts opened #78 "Incorrect calculation of line and position in utf-8 files"
Example code with an error on the last line:
[code]

Expected:
[code]

Actual:
[code]

[2017-11-02 13:27] lovenunu opened #80 "Recursive / circular rules leads to an infinite loop"
Hello,
It seems that when a rule is recursive or have a circular dependecy with other rules, the parser goes to an infinite loop. During the execution of `Hoa\Compiler\Llk\Parser::unfold`, instead of decreasing, `Hoa\Compiler\Llk\Parser::_todo` keeps growing, so the `while` loop never stops.

I have this behavior with hoa/compiler 3.17.08.08
Example to reproduce:
[code]

[2017-11-06 10:56] Hywan commented on #80
Hello :-),

Indeed, it is a LL parser, so the grammar **must not** be left-recursive. You should rewrite your grammar to avoid such recursions.

Hint: https://en.wikipedia.org/wiki/Left_recursion.

[2017-11-06 10:59] lovenunu commented on #80
Thanks for the hint :-) Shouldn't the parser throw an exception when such recursive grammar is loaded, to let the user know he did something wrong ?

[2017-11-06 12:17] Hywan commented on #80
You should take a look at https://github.com/hoaproject/Compiler/issues/14.

[2017-11-06 12:17] #80 closed

[2018-01-19 18:39] SerafimArts opened #81 "Lexer speedup"
If you remove the support for the token namespaces, then can significantly speed up the Lexer. This will simply completely rewrite the algorithm.

Benchmarks:
- 3000 code lines
- 11867 tokens
- 5 times

Stand:
- i7 6700k
- Win 10
- PHP 7.1.11 (cli)

## Hoa Original

Sources: https://github.com/hoaproject/Compiler/blob/master/Llk/Lexer.php

1) 28.6555 sec
2) 28.4433 sec
3) 29.2020 sec
4) 28.9820 se

[2018-01-19 22:48] greabock commented on #81
Holy...
![](http://i0.kym-cdn.com/entries/icons/facebook/000/004/029/motherofgod.jpg)

[2018-01-22 09:41] Hywan commented on #81
Hello,

I'm back from my paternity leave. I can finally answer your questions.

So, since token namespaces are dropped, a single regular expression is created which combined all token definitions, and then is used to match the data. The token name is used as the identifier of the named capture (`(?<…>…)`). I though about this in the past, but I didn't know how to make compatible with token namespa

[2018-01-22 11:33] SerafimArts commented on #81
@Hywan Syntetic tests: https://gist.github.com/SerafimArts/a976562e388d6b8d8863941348720211

Outputs:
![image](https://user-images.githubusercontent.com/2461257/35218822-22db1e92-ff81-11e7-9875-70b585300e39.png)

[2018-01-22 11:41] SerafimArts commented on #81
The problem is quite large for adapting the algorithm to Hoa. I think that it will be easier for the author of Hoa to do it. The more this algorithm is already understood in the algorithm, everything is pretty obvious (I'm just lazy).

[2018-02-13 18:14] guiled commented on #81
👍
Very interesting ! (I've just encountered some large performance problems with Hoa/Compiler)

[2018-02-21 21:10] guiled commented on #14
Resurecting an issue :-P
I have very important performance issue during parsing, and I would like to know what the parser has done to be so long. So, a list of rules it passed or not for each node could be interesting to improve anything...

[2018-03-05 22:19] jubianchi commented on #14
A while ago I implemented a POC debug parser working with the dbg protocol.

It allows to put breakpoints in PP grammars and see which rule the compiler uses. If anyone is interested in using it/contributing/testing/whatever, I can try to make it work again and push it somewhere.

[2018-03-06 11:01] guiled commented on #14
This seems very interesting ! I've made a tracer that plays every rules the parser passed through and am working on a viewer (like a video player, with rule breadcrumb and parsing progression (backtrack) ). Your work seems very good as well :-)

[2018-04-26 17:46] Majkl578 opened #83 "Dependency errors when installed with prefer-lowest"
While attempting to run the suite locally with lowest dependencies (Composer's  `--prefer-lowest`), it crashes right away:
[code]

When using Compiler as dependency and installing with `--prefer-lowest`, it produces lots of errors, regarding the deprecated cast, but also non-existent class Hoa\Iterator\Buffer. See Travis log here: https://travis-ci.org/schmittjoh/serializer/jobs/371673251#L580

Co

[2018-05-15 11:42] Hywan commented on #83
Hello :-),

Hoa uses a rolling-release approach, and thus, does not recommend to use the `--prefer-lowest` option when installing its dependencies.

[2018-05-15 11:49] theofidry commented on #83
@Hywan I'm not sure to follow, why using a rolling release approach shouldn't be used with `--prefer-lowest`? `--prefer-lowest` is kinda mandatory for any lib wishing to ensure its minimal constraints are working fine

[2018-05-15 11:50] Majkl578 commented on #83
@Hywan Thanks for reply.
That is quite unfortunate. It's an abuse of versioning and causes real-world problems.
Last time I had to put Composer conflicts in place to make it work: https://github.com/schmittjoh/serializer/pull/900/files#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780R46 - that is only a work around that should not exist, library should not depend on incompatible versions.
This is going to be

[2018-05-15 12:10] Ocramius commented on #83
Few things here indeed:

 * the release model is indeed problematic, and we can't use any `Hoa` component as a dependency in a library because of that, because the rolling release implication cascade to end consumers even if intermediate libraries are SemVer based
 * `--prefer-lowest` is an absolute must for testing libraries and dependencies, and becomes more and more important as the number of c

[2018-05-15 13:10] Hywan commented on #83
Let me rephrase a little bit :-).

Hoa adopts rolling-release, but uses a semver-compliant versionning number to be compatible with the rest of the world. So that's why you can safely require `~3.0` for instance. This is what we call Rush Release, https://hoa-project.net/En/Source.html#Rush_Release, for Rolling Und ScHeduled Release.

I'm not very familiar with `--prefer-lowest`. I can work to mak

[2018-05-15 13:16] Hywan commented on #83
One solution on your side seems to be to write:

[code]

but it's annoying for you.

Or, we can switch the whole Hoa ecosystem to semver strictly. We are in a middle of huge refactoring for PHP 7.1, so… we can tag all new libraries as semver only and drop rush versionning, it does not sound like a big deal in our context. cc @vonglasow

[2018-05-15 13:33] Hywan commented on #83
The discussion turns to be: We will finish the rewrite of Hoa for PHP 7.1-2, and then we will drop the rolling release approach to go to a strict semver. Will it work for you?

[2018-05-15 13:49] Majkl578 commented on #83
Using `composer install/require` with `--prefer-lowest` instructs composer to install lowest possible versions (according to their constraints) of your dependencies and also all their dependencies.
See the difference below - first one will install the latest (default behavior), second one will install the lowest.

[code]
[code]

Thus, using `"hoa/compiler": "~3.18, >= 3.18.05.15"` solves nothing w

[2018-05-16 10:45] Hywan commented on #83
I'm glad you are happy with our decisions :-). Indeed, the Rush Release format is not compatible with `--prefer-lowest`.

I've been very absent these past months for personal reasons. I consider I'm back on tracks now. We are planning a Hoa Virtual Meeting (http://discourse.hoa-project.net/t/hoa-virtual-meeting/22/33) to elaborate a plan and a timeline to finish this PHP 7.1-2 rewrite. Note that a

[2018-06-15 22:30] SerafimArts commented on #81
I rendered all the lexers into a separate component that does not depend on the parser and other pieces. It can also be used separately.

In addition, he added support lexertl driver (https://github.com/BenHanson/lexertl), which speeds up another 8 times when compared with the previous version published above.

As a result, it was possible to achieve a speed increase of more than **1160 times** ju

[2018-07-05 15:14] SerafimArts opened #84 "State restore error"
There are suspicions that the `backtrack` method does not work correctly and does not find the previous correct chain of rules, but I have not found the reason yet :\

## Grammar

[code]

## Sample

[code]

## Expected

[code]

## Actual

[code]

[2018-07-06 08:15] guiled commented on #84
Your grammar seems to wait a list of digits or a list of words, not both.

I would write this (and it may be NOT optimized)

    #grammar:
        (digits() | words())*

Am I wrong ?

[2018-07-06 17:14] SerafimArts opened #85 "Some questions about the structure of rules"
1) What is the difference between `$nodeId` and `$defaultId` in grammar rules?

[code]

2) Why do I need `$nodeId` in tokens?

[code]

3) Why determine that the rule is transition, if the identifier can uniquely point to it?

Those. we can have completely numeric indexes in the rules array, and whether or not the rule in the AST will be determined by the presence of the name in the "Entry" element

[2018-07-09 07:48] Hywan commented on #85
Hi :-),

Thanks for the relevant questions.

#### 1. What is the difference between `$nodeId` and `$defaultId` in grammar rules?

When you write a rule, you can define a node ID like this:

[code]

But most of the time, the node ID is the name of the rule:

[code]

And so it can be reduced to:

[code]

In this case, `#foo` is the default ID. Why default? Because it can be overwritten:

[code]

Whe

[2018-07-09 12:21] SerafimArts commented on #85
Hmm, I did not think about this situation, thank you!

Should I create a separate issue for this task?

Rule names  do not matter what they are, strings or numbers, then all these places can be made numeric, which should quite speed up this case and reduce memory consumption. Right.

However, there is one problem, trace items (Entry and Ekzit) are directed precisely by the names of the rules: `$th

[2018-08-15 12:11] SerafimArts opened #86 "Remove $nodeId from Token rule definition."
The third argument to the Token rule is not needed and is not required at runtime or for some other things. We can get rid of it.

[code]

[2018-10-20 12:06] flip111 commented on #18
This should be documented that `(foo*)` and `foo*` are not the same.

[2018-10-20 12:27] flip111 commented on #17
I tried to port an EBNF file to PP, but this is not easy. Manually the process is too error-prone and extremely tedious. Automatic conversion is not easy either. I managed to do it with a bunch of regular expressions and other tricks but encountered many cases were special things needed to be done.

* remove comments from ebnf
* replace equal sign to semi-colon for starting rule
* Replace things l

[2018-10-20 13:44] flip111 opened #89 "Debug grammar tooling problems"
Hi, i try this code https://keynote.hoa-project.net/PHPTour14/Demonstration/Generation_exhaustive.php to show all possible compiler output. Is it the same as paths? But my CPU just goes to 100% and nothing gets printed.

I'm trying to diagnose why i get a `PHP Fatal error:  Uncaught Hoa\Compiler\Llk\Parser::parse(): (0) Unexpected token ... blabla` there is no indication of which token is expected

[2018-10-21 21:03] flip111 opened #90 "Bug when saving parser class"
I have the token `\` i need to escape it once because pp uses regex so it becomes:

[code]

when this is written as php class the backslash is only escaped once, like so:

[code]

it doesn't matter if there are more surrounding characters (i have a few other rules which suffer from the same bug)

[2018-10-21 21:10] flip111 opened #92 "Question: how to access/traverse nodes of grammar"
After the PP is read how can the grammar nodes be access / traversed programmatically? Before reading in any actual input for the parser.

[2018-10-21 21:14] flip111 commented on #81
@SerafimArts i don't understand how you connect the php code with the C++ library you linked. Care to explain ?

[2018-10-22 11:13] SerafimArts commented on #81
@flip111 http://php.net/manual/ru/book.parle.php

[2018-10-23 09:17] guiled commented on #92
Does that class help you ?
https://github.com/guiled/Hoathis-Lua/blob/v2/src/Debugger.php

[2018-10-23 12:16] flip111 commented on #92
Maybe. I'm not sure how it would help. Some methods return a string which can't be traversed obviously. Did you have something in mind on how i should use this class?

[2018-10-23 15:38] guiled commented on #92
The only way it would help is that it can inspire you ;-) The point of this class is to print the pp grammar from the grammar tree.

[2018-11-07 18:40] unkind opened #94 "Inlining code of the Parser and license"
Hi,

I'd like to use your library, but I want to automatically inline parent class `\Hoa\Compiler\Llk\Parser` and minimize generated class. So far it looks like
[code]
The point is to decouple final product from the compiler.

I wanna ask whether it's acceptable for you. Of course, generated class would have reference to your library, e.g.
[code]

Text of your license states that I also have to in

[2018-11-08 01:28] unkind opened #95 "Madness with exceptions"
![image](https://user-images.githubusercontent.com/1517363/48171481-26cf4d00-e30d-11e8-8f7f-4542531f342d.png)

![image](https://user-images.githubusercontent.com/1517363/48171501-3cdd0d80-e30d-11e8-8b7a-96e6c66933b1.png)

Maybe it's just a PhpStorm's bug, but I really didn't find the root `Exception` class.

[code]
— what is that? Aliasing sub-namespace or aliasing class `Exception` in the namespa

[2018-11-08 01:58] unkind commented on #81
It reminds me of http://nikic.github.io/2014/02/18/Fast-request-routing-using-regular-expressions.html#combined-regular-expressions

Also, try to make benchmark with `S` modifier: http://php.net/manual/en/reference.pcre.pattern.modifiers.php

AFAIU, `Lexer` does not use `^`, `$`, so in theory, it may give advantage when you need to call `->parse()` many time, but it will give you performance degra

[2018-11-12 10:44] Hywan commented on #94
Hello!

Thanks for reaching us. What's your project, and what license are you using?

[2018-11-12 10:56] Hywan commented on #95
Hello :-),

The purpose of flex entities is to keep BC when a class is moved into a namespace of the same name. This happens sometimes, and flex entities are here to solve this issue.

When using PHPStorm, you might take a look at https://github.com/hoaproject/Devtools#expandflexentities. Running `hoa devtools:expandflexentities` will generate a file that will fix all the issues for PHPStorm.

[2018-11-12 10:56] #95 closed, assigned to Hywan, vonglasow

[2018-11-12 10:57] Hywan commented on #95
I close the issue because I answered it, but feel free to re-open if you still have a question.

[2018-11-12 10:58] Hywan commented on #81
I'm trying to close huge projects at work, and I will get back on this issue, I hope shortly.

[2018-11-12 11:05] Hywan commented on #92
The only way is to use `getRules` (https://github.com/hoaproject/Compiler/blob/master/Llk/Parser.php#L764) to get all the rules, and then use a `foreach` loop, it's a linear structure.

[2018-11-12 11:24] SerafimArts commented on #81
Modifier `S`, by the way, has been removed and is no longer supported in the current version of PHP (Since PHP 7.3 + PCRE v2)

[2018-11-12 12:41] unkind commented on #95
I don't get it. Do you mean `\Acme\A` -> `\Acme\B`? `class_alias` has the same effect, doesn't it?

[2018-11-12 12:52] Hywan commented on #95
Let's consider `A\B\C` is initiallly located is `A/B/C.php`, but then the namespace `A\B\C` is created, then following our standards, the file must be moved in `A/B/C/C.php`, and with the name `A\B\C\C`. So `A\B\C` is an alias to `A\B\C\C`, to keep BC.

[2018-11-12 13:00] Hywan opened #96 "Remove dependency to `ext/ctype`"
It has been noted in https://github.com/hoaproject/Compiler/pull/93#discussion_r232647557 that `hoa/compiler` depends `ext/ctype` just because of a single call to `ctype_digit` in a non-critical path. I think it's a good idea to remove this dependency :-).

[2018-11-13 01:54] unkind commented on #95
@Hywan OK, but it still solves with `class_alias`, doesn't require additional code (`Consistency::flexEntity()`) and IDE is able to resolve real exception class without plugins and doesn't produce bloody errors.

If I understand it right, it's better to refactor it.

[2018-11-13 02:17] unkind commented on #96
Is it worth it? This extension is built-in by default, unless you disabled it on purpose: https://secure.php.net/manual/en/ctype.installation.php.

composer.json should require it, though.

[2018-11-13 02:27] unkind commented on #94
I realized that for my purposes I need only simple lexer, this component is overkill. Regarding license, I use MIT always.

I think we shouldn't bother, but I'm still curious what happens in this cases. AFAIK, it doesn't violate your version of BSD-licence.

[2018-11-13 02:27] #94 closed, assigned to Hywan, vonglasow

[2018-12-05 10:29] Hywan commented on #96
We only use it once, and for a minor feature. It should be easy to write a workaround.

[2019-01-07 10:50] Majkl578 commented on #96
Doesn't make sense to me - ctype is implicit extension.

[2019-01-07 10:56] Majkl578 opened #97 "Broken visualization of invalid input token in multiline input"
When using multiline input, the arrow indicating position of invalid token is not positioned correctly:
[code]
When error is the `(` (i.e. missing pair `)`), the exception message currently contains:
[code]

What would be expceted instead:
[code]
or:
[code]

[2019-01-15 13:24] unkind commented on #81
https://github.com/railt/railt/blob/8b1e327bb357a134b7ba5e52209796ba6597f3f6/src/Compiler/FastLexer.php#L82
[code]

If I understand it right, it is just preparation for Generator (from interface point of view at least), but in fact it doesn't save memory.

I encountered with this issue (wanted to make possible parse from very long stream, for example). Probably, it can be resolved via `limit` (`pr

[2019-01-15 14:47] SerafimArts commented on #81
`preg_replace_callback` is very fast, but very memory-demanding implementation. Yep.

Theoretically, I can try to build a hybrid through `preg_match` and sampling through named groups, like:

[code]

This will significantly reduce the time spent on compiling PCRE in the classic version from Hoa and at the same time have the possibility of lazy calculations, which are not in the implementation of `

[2019-01-15 15:18] unkind commented on #81
btw, few weeks ago I found out `(*MARK)` verb:
[code]
You can put arbitrary labels in the `MARK` (and put namespace there too, for example) if it is an issue (at least, it was a problem for me and I feel like you faced similar issue). `(?|` syntax by default requires to use the same named groups, so it wasn't possible to distinguish tokens among each other.

When you receive token with namespace,

[2019-01-15 15:44] SerafimArts commented on #81
it does not allow to understand in what order the tokens are located.

`$offset = $offset + strlen($value);` ;)

[2019-01-15 15:47] SerafimArts commented on #81
P.S. You can also read my article on Habr on this topic, where I cited different implementations as examples. But you should to translate it from the original language for understanding https://habr.com/ru/post/435102/

[2019-01-15 16:17] unkind commented on #81
? `preg_match_all()` with pattern above generates array of tokens in actual order.

[2019-01-15 16:27] unkind commented on #81
[code]

[code]

[2019-01-15 16:36] SerafimArts commented on #81
Well, I meant with "named groups", not "marks"

[2019-01-15 16:43] unkind commented on #81
I mean, in order to restart `preg_replace_callback` with different regex (after changing namespace, state, scope, context, ...), you have to force `preg_replace_callback` to start with your offset. It doesn't allow it, so you have to cut string, probably. And this may have impact on performance (I didn't test it, though).

But more importantly for me, it is just not really comfortable API of PCRE

[2019-01-15 16:52] SerafimArts commented on #81
Yes it is. But in most cases it is possible to manage with one "state". The PCRE syntax is quite powerful.

For example, here are tokens of PHP language: https://gist.github.com/SerafimArts/bb9363fbd2d5cca8693cfcdc4631c2f7#file-lexer-php-L24-L178

Or GraphQL: https://github.com/railt/railt/blob/1e43c86734e3a7dc8f34172729246dec1fcdc5ff/resources/grammar/lexemes.pp2

[2019-01-15 17:02] unkind commented on #81
How does it handle case like

[code]

without context/state ("out-of-code", "code")? Also, string literals looks simplified, i.e. you have to use another lexer lately to find all variables in double quoted strings, for example: `"blah blah {$foo}"`. Another lexer is the same thing as lexer with 2 states/contexts, isn't it?

[2019-01-15 17:10] SerafimArts commented on #81
[code]

Yep. In this case, the second state is required. But I wrote that in **most cases**, and not **always**)))

[2019-01-17 09:46] unkind commented on #81
@SerafimArts

[code]
I think it doesn't work in general case, e.g.
[code]

[2019-01-17 11:16] SerafimArts commented on #81
https://gist.github.com/SerafimArts/bb9363fbd2d5cca8693cfcdc4631c2f7#file-lexer-php-L25

[2019-01-17 11:38] unkind commented on #81
I don't have ability to test it right now, but I suppose this lexer will treat first line as a comment, but in fact it is plain text + `T_OPEN_TAG`. And the real comment on second line only. So it still doesn't work properly without 2 explicit states.

Your point was

But it seems like example is not that convenient.

[2019-01-17 13:40] SerafimArts commented on #81
Oh, yes, I did not understand what you mean the first time. That's right, without two states, it's impossible to parse this =)

[2019-01-25 14:35] flip111 commented on #97
@Majkl578 i might take a look at this bug, but please make it easy for me and provide runnable test code

[2019-01-25 14:36] flip111 commented on #92
This answer is the right answer (closing ticket). We could put some code or documentation for this. What do you think?

[2019-01-25 14:36] #92 closed, assigned to Hywan

[2019-01-25 14:38] flip111 commented on #96
Keep extension since it comes with default php installation.

[2019-01-25 14:46] flip111 commented on #86
https://github.com/hoaproject/Compiler/issues/85#issuecomment-403390651

Should be easy to fix this. Suggest adding issues to

https://up-for-grabs.net/#/

https://github.com/MunGell/awesome-for-beginners#php

https://www.firsttimersonly.com/

[2019-01-25 14:47] flip111 commented on #85
@SerafimArts do you have any remaining open questions, or has everything been answered now? Please close the ticket.

[2019-01-25 14:49] Majkl578 commented on #97
I'll see what can be done, but Hoa's proprietary test suite makes things hard for contributors.

[2019-01-25 14:54] flip111 commented on #83
Update for the people not reading the other thread. Refactoring to make hoa php 7 is on going.

[2019-01-25 14:56] flip111 commented on #97
@Majkl578 what do you mean? proprietary is usually used to refer to license. In this case it's not proprietary but BSD license.

As for test framework it's based on http://atoum.org/ instead of phpunit as far as i know. I used atoum once it was pretty good.

You can just provide a snippet of code that shows your error, don't need a test case at the moment.

[2019-01-25 14:59] flip111 commented on #81
Could someone summarize this? I would like to know the following.

1. What things can be put into actionable tickets for hoa/compiler
2. What things are interesting for futher investigation.

Maybe i will come back later and try to answer these questions if they have not been answered yet.

[2019-01-25 15:00] flip111 commented on #97
It would be good to fix this bug together with https://github.com/hoaproject/Compiler/issues/78 at the same time.

[2019-01-25 15:01] flip111 commented on #78
@SerafimArts i might take a look at this bug, but please make it easy for me and provide runnable test code (i don't need a full hoa Test case).

It would be good to fix this bug together with #97 at the same time.

[2019-01-25 15:06] flip111 commented on #74
@SerafimArts is there anything you like to see changed in the hoa/compiler library? If so could you summarize/formulate this change? Or do you have more questions?

[2019-01-25 15:07] flip111 commented on #69
@Grummfy what is your opinion about the documentation at the moment?

[2019-01-25 15:08] flip111 commented on #65
This ticket has label "ready", so the ticket can be closed ??

[2019-01-25 15:11] flip111 commented on #55
@jubianchi do you want to post your code in a github repository somewhere? Maybe some people can take it as a starting point and continue your work if you don't longer want it.

[2019-01-25 15:14] SerafimArts commented on #74
@flip111 What I would like to see violates backward compatibility with existing code.

That's why I made a fork and completely rewrote almost all the code from scratch =)))

[2019-01-25 15:18] SerafimArts commented on #78
Just write any character from the UTF 4bytes group to reproduce the problem.

grammar:
[code]

text:
[code]

[2019-01-25 15:54] flip111 commented on #15
The regexes come from the tokens

https://github.com/hoaproject/Compiler/blob/fd6f3f943514193b349109347c56241c1c34a331/Llk/Lexer.php#L192-L201

These are supplied in

https://github.com/hoaproject/Compiler/blob/fd6f3f943514193b349109347c56241c1c34a331/Llk/Lexer.php#L111

The interesting places where `lexMe` is called is as follows:
* https://github.com/hoaproject/Compiler/blob/ff934cce1745f2a5bd47

[2019-01-25 15:56] flip111 commented on #74
@SerafimArts ok let's close this issue then. By the way i'm interested to see your fork. Do you have a link?

[2019-01-25 16:20] SerafimArts commented on #81
Need to get rid of unnecessary calls preg_match. To do this, you can use the approach with named groups `(?<NAME>...)` with `preg_replace_callback` function or mark signes `(*MARK:NAME)` with `preg_match_all` function usage.

[2019-01-25 16:21] #85 closed

[2019-01-25 16:24] SerafimArts commented on #74
You could find this fork here: https://github.com/hoaproject/Compiler/network

But it's not difficult for me to add links:
FS Abstraction Layer: https://github.com/railt/io
Lexer: https://github.com/railt/lexer
Parser: https://github.com/railt/parser
Compiler: https://github.com/railt/compiler

[2019-01-25 16:24] #74 closed

[2019-01-25 17:04] flip111 commented on #15
[code]

[2019-01-25 17:20] flip111 commented on #74
@SerafimArts maybe you can mention hoa/compiler in the readme of railt/parser for saying thanks

[2019-01-25 17:45] SerafimArts commented on #74
@flip111 Like this? https://github.com/railt/parser/blob/1.4.x/composer.json#L22-L29

Please create a pull request if you want more or some other format for mentioning Hoa. But it should be borne in mind that there is almost no code from the original.

This is the only place where you can find similarities:
1) [Original](https://github.com/hoaproject/Compiler/blob/master/Llk/Parser.php)
2) [Fork](

[2019-01-25 18:59] Majkl578 commented on #97
By _proprietary_ I meant it's an in-house suite (hoa/test), not a standard tool like PHPUnit. So a contributor must first spend time investigating how this tool works and how the tests look like. It's an entry barrier.

[2019-01-25 19:02] Majkl578 commented on #97
Also, _proprietary_ doesn't only mean _properietary license_, in this sense it should be understood as _non-standard_ ([see Wiktionary, adj. 4](https://en.wiktionary.org/wiki/proprietary)).

[2019-01-26 16:46] flip111 commented on #97
@Majkl578 you are right PHPUnit is not Atoum. PHPUnit is the most used test framework for PHP, but a standard? Anyway we can worry about unit test later, i can do it if necessary, it's not that difficult

[2019-02-17 10:51] dantleech opened #98 "Unrecognized Token in Lexer always reports Line 1?"
:wave: The lexer always reports Line 1 when it encounters an unrecognized token:

https://github.com/hoaproject/Compiler/blob/master/Llk/Lexer.php#L151

This is particularly problematic as it the file being parsed has 100s of lines. Guess this is also related to #97

[2019-02-18 12:32] Hywan commented on #98
I will work on this. Thanks for the issue!

[2019-03-13 22:09] SerafimArts commented on #81
I implemented a simple multistate implementation based on the `preg_match_replace` algorithm using coroutines. You can use it as a basis: https://github.com/railt/lexer/tree/feature/multistate

Benchmarks: https://travis-ci.org/SerafimArts/lexer-benchmarks/builds

[2019-03-14 19:18] SerafimArts commented on #81
By the way, if replace the trace objects (like Entry, Ekzit, e.g.) which are created so many times with an array, we can also get a significant performance gain:
![image](https://user-images.githubusercontent.com/2461257/54385254-3984d480-46a7-11e9-98bc-57f8ad169bd8.png)

[2019-03-17 11:19] flip111 commented on #81
Thanks great @SerafimArts congratulations on your good results :D

[2019-03-18 01:37] unkind commented on #81
You can achieve better performance with code generation and `preg_match_all` + `(*MARK)`.

[code]

[code]

https://gist.github.com/unkind/87995556f5d8661aa09f5cf82478ba5e

[2019-03-18 03:40] SerafimArts commented on #81
@unkind I don't understand how it works, but I didn’t find anything about the `*MARK` in the PCRE specification. Сan you help me pls and give a link to the documentation?

[2019-03-18 04:20] unkind commented on #81
https://www.pcre.org/original/doc/html/pcrepattern.html#SEC27 (Cmd + F «*MARK»).

By the way, another optimization is `switch` which uses hashtable since 7.2: https://derickrethans.nl/php7.2-switch.html

[2019-03-19 07:02] SerafimArts commented on #81
I rewrote the lexer using the `*MARK` and it turned out to be more than 5 times faster (WOW!) than the previous algo.

Comparison of old preg_replace (left) algo and new preg_match (right):
![image](https://user-images.githubusercontent.com/2461257/54586423-1737e180-4a2e-11e9-99ca-23fcafb1bde7.png)

All sample files are available here: https://github.com/railt/lexer/tree/32366b7d9dddabd05cf294d47c

[2019-03-19 07:06] SerafimArts commented on #81
@unkind thank you very much for the help!

@Hywan we discussed and decided on the implementation =) If everything is OK, then I can adapt it for Hoa.

[2019-03-19 18:10] unkind commented on #81
`preg_match_all()` has a drawback, though: you have higher chances to overflow memory limit (happened to me in some my tests for a few times). If you offer generic solution, it would probably make sense to provide option of slower, but less memory-consuming implementation (e.g. you can split input string into chunks or use `preg_replace_callback`).

Unfortunately, I don't have examples right now,

[2019-03-19 22:00] SerafimArts commented on #81
@unkind in such places the parser will fall, since it [generates a trace](https://github.com/hoaproject/Compiler/blob/master/Llk/Parser.php#L100) that weighs several orders of magnitude more than the sequence of tokens

P.S. this trace contains a sequence of correctly parsed rules, which will then be converted to AST: https://github.com/hoaproject/Compiler/blob/master/Llk/Parser.php#L503 I tried t

[2019-03-21 14:27] flip111 commented on #81
@SerafimArts
Can you also link the grammars used?

[2019-03-21 15:09] SerafimArts commented on #81
@flip111 All grammars are there: https://github.com/railt/lexer/tree/32366b7d9dddabd05cf294d47c3e03a42025b335/tests/resources/pp2 =)

Except graphql, it is here: https://github.com/railt/graphql/tree/b90978e070230f461f10a5870d2736997064b6e2/resources/graphql because it is in several different files

[2019-03-21 15:50] flip111 opened #100 "Multiple start-symbols support"
Would be great to have support for multiple start-symbols.

I guess it would not be difficult to add since the start rule is just found in the rules

https://github.com/hoaproject/Compiler/blob/de036d5ccfbfaca21c350537d25d0a0f247930eb/Llk/Parser.php#L173

https://github.com/hoaproject/Compiler/blob/de036d5ccfbfaca21c350537d25d0a0f247930eb/Llk/Parser.php#L774-L783

[2019-05-03 23:39] vasily-kartashov opened #101 "Parsing tree is just the first token"
When running this grammar https://github.com/hamlet-framework/type/blob/master/src/Reader/grammar.pp

against this test set: https://github.com/hamlet-framework/type/blob/master/tests/Reader/ParserTest.php

the output is:
[code]

What is the output not the complete tree but just the first token?

[2019-05-05 00:43] vasily-kartashov commented on #101
Missing `#` in front of matching rules.

[2019-05-05 00:43] #101 closed, assigned to nobody

[2019-08-15 11:22] dependabot-preview[bot] opened #103 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-11-01 21:41] b-viguier opened #105 "Backtrack issue when rules overlap"
Hi!
This library looks really awesome, so I'm playing with it but I'm facing with a "basic" issue and I can't figure out if it's a limitation, a bug, or my mistake… Can you help me?

Here a minimalist grammar to illustrate my situation:
[code]
I want to match all words, but `a` is a special keyword, I want to match it distinctly. The problem comes when I try to parse `"ab"`: `a` is recognized as a

[2019-11-05 20:40] b-viguier commented on #105
ℹ️ My current workaround is to suffix my keywords with something like this:
[code]
To prevent `falsely` to be detected as the keyword `false` followed by `ly` (should match an other pattern for "identifier" tokens)… but seems a little tricky, isn't it?

[2020-02-17 14:55] mdio opened #106 "PHP 7.4 deprecation warning in Bin/Pp.php"
In [Pp.php](https://github.com/hoaproject/Compiler/blob/master/Bin/Pp.php#L233) nested ternary operators are used without explicit parentheses.
This is issuing a PHP Deprecated error in PHP 7.4.

The solution would be to wrap the ternary statements in parentheses to be explicit about the ordering.

See https://www.php.net/manual/en/migration74.deprecated.php#migration74.deprecated.core.nested-tern

[2020-03-05 19:04] SerafimArts opened #107 "Future of Compiler package"
@Hywan hi!

I saw your twitter post: https://twitter.com/mnt_io/status/1206936893692219393

About a 2 year ago, I forked this package (https://github.com/hoaproject/Compiler/network). And for some time he developed it as part of a GraphQL parser under a double license. Then, due to speed problems, problems with the license (BSD vs MIT) and some other bugs, I had to completely rewrite it from scrat

[2020-03-06 08:16] sanmai commented on #107
Hi @Hywan, I'll be happy to pick up the baton too. I can't promise radical updates, but I'm sure I can handle at least getting packages up to speed with PHP 7.4.

For example, here's a fork that is [completely functional under PHP 7.4](https://github.com/sanmai/hoa-compiler).

[2020-03-06 09:47] Hywan commented on #107
@sanmai I can give you more permissions, but let's start by PR maybe? Just to see where we go. I'm all in giving your the baton!

[2020-03-08 02:45] sanmai commented on #107
Let's start with #108: we'll see what is broken and where.

Absolutely no hurry here with the baton.

[2020-04-04 14:43] vsychov commented on #107
Hi @Hywan and other project members, is this project abandoned? Nobody react on this PR - https://github.com/hoaproject/Consistency/pull/36, can it be merged? Because it's block lot of peoples (especially who use jms serializer), from usage php 7.4 opcache preload.

Best regards.

[2020-10-06 09:58] ohader opened #111 "Enhance context output of UnrecognizedToken exception"
## Grammar

[code]

## Source

[code]

## Results

Parsing above scenario leads to expected exception, since lexeme `d` is not defined in grammar. In thrown `UnrecognizedToken`
* line & column can be enhanced
* (helpful) position pointer can be adjusted
[code]

-----

## With adjustments

[code]

[2020-10-06 10:26] ohader opened #112 "Enhance context output of UnexpectedToken exception"
## Grammar
[code]

## Source
[code]

## Results

Parsing above scenario leads to expected exception, since lexeme `*` is not allowed in rules. In thrown `UnexpectedToken`
* the namespace of the corresponding token could be mentioned (helpful when having multiple namespaces using same token identifiers)

[code]

-----

## With adjustments

[code]

[2020-10-06 10:27] ohader commented on #112
## With adjustments

[code]

[2020-10-06 12:03] ohader opened #113 "Unexpected namespace assignment for PCRE containing colon"
# Grammar
[code]

# Results

* grammar is resolved to
  + namespace `foobar5            ns`
  + token `bar`
  + PCRE `-> destinationNS`
  + target ø (empty)
* see https://regex101.com/r/B8cdSR/1

[2020-10-06 12:11] ohader commented on #98
@dantleech Did not spot this issue early, I've created a duplicate in #111 - find corresponding change and new result there

[2020-12-16 11:15] #103 closed, assigned to nobody

[2020-12-16 11:15] dependabot-preview[bot] opened #115 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/hoaproject/update-logs/59538303).

[2020-12-22 11:16] dependabot-preview[bot] opened #116 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/hoaproject/update-logs/60334873).

[2020-12-22 11:16] #115 closed, assigned to nobody

[2021-02-22 12:47] tekinnnnn opened #117 "mbstring problem"
Hello, i'm getting following error when i try to run `phpstan analyse` :

![resim](https://user-images.githubusercontent.com/11091140/108710359-fe42df80-7524-11eb-9336-fbe355199054.png)

But i didn't find "ext-mbstring" or something like that in your composer.json.

`nedir@DESKTOP-1RCLOPG:/mnt/c/Users/tekin/PhpstormProjects/bb-edijet$ php8.0 vendor/bin/phpstan analyse src/
PHP Fatal error:  Uncaug